<br>
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Product ID/SKU">
        <span class="input-group-btn">
          <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
  </div>

<br>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Product ID</th>
          <th>SKU</th>
          <th>Qty</th>
          <th><img class="icons" src="../../assets/amazon.co.uk_logo.png" alt="amazon"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>WRTS001</td>
          <td>Demo40000</td>
          <td>50</td>
          <td>16</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
