<br>
<h1 class="text-center">Stock Allocation Management</h1>

<br>
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Product ID/SKU">
        <span class="input-group-btn">
          <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
  </div>

<br>

<div id="scroller">
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center number-row">#</th>
      <th class="row-span-lg">SKU</th>
      <th class="text-center row-span-md">Total Qty</th>
      <th class="text-center row-span-md">Allocated</th>
      <th class="text-center row-span-md">Un-Allocated</th>
      <th class="text-center row-span-lg">Amazon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">1</th>
      <td>DEMO4000</td>
      <td class="text-center">100</td>
      <td class="text-center">30</td>
      <td class="text-center">70</td>
      <td class="text-center">30</td>
    </tr>
  </tbody>
</table>
</div>
