<br>
<h1 class="underline">Upload Single Inventory</h1>

<div class="row">

<div class="col-md-1">
  <button type="button" class="btn btn-primary">Template</button>
</div>

  <div class="col-md-2 offset-md-3 text-right">
    <div class="btn-group" ngbDropdown>
      <button class="btn btn-outline-default" id="category-btn" ngbDropdownToggle>Status </button>
      <div ngbDropdownMenu dropdown-menu-center aria-labelledby="dropdownBasic1">
        <div class="dropdown">
          <button class="dropdown-item">Completed</button>
          <button class="dropdown-item">Failed</button>
          <button class="dropdown-item">Pending</button>
      </div>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by SKU">
      <span class="input-group-btn">
        <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>
  </div>


  <div class="col-md-4 text-right">
      <button type="button" class="btn btn-default">Update</button>
      <button type="button" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Choose File</button>
  </div>
</div>


<br>
