<ngb-tabset>
  <ngb-tab id="product-tab" title="SKU Mapping">
    <ng-template ngbTabContent>
      <div class="container-fluid inventory-only">
        <br>
        <h1 class="underline">Marketplace SKU Mapping</h1>

          <div class="row">
            <div class="col-md-4 text-right">
              <div class="btn-group" ngbDropdown>
                <button class="btn btn-outline-default" id="category-btn" ngbDropdownToggle>{{dropSelection}}</button>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
                  <div class="dropdown">
                    <button class="dropdown-item" (click)="mpChoice = All; dropSelection = 'All Marketplaces'">All Marketplaces</button>
                    <button class="dropdown-item" *ngFor="let mpList of mpList" (click)="mpChoice = mpList.name; dropSelection = mpList.name">{{mpList.name}}</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
            <div class="search-wrapper">
            	<form>
                <div class="btn-group">
              	  <input type="text" name="focus" required class="search-box" placeholder="Search by SKU"  [(ngModel)]="_skuSearchValue" (keyup.enter)="skuSearchValue = _skuSearchValue"/>
              		<button class="close-icon" type="reset" (click)="skuSearchValue = ''"></button>
                  <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"  (click)="skuSearchValue = _skuSearchValue"></i></button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-5">
            <div class="search-wrapper">
            	<form>
                <div class="btn-group">
              	  <input type="text" name="focus" required class="search-box" placeholder="Search by Marketplace SKU" [(ngModel)]="_skuSearchMp" (keyup.enter)="skuSearchMp = _skuSearchMp" />
              		<button class="close-icon" type="reset" (click)="skuSearchMp = ''"></button>
                  <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true" (click)="skuSearchMp = _skuSearchMp"></i></button>
                </div>
              </form>

            </div>
          </div>


      </div>
      <br>


      </div>   <!-- CONTAINER-FLUID INVENTORY-ONLY -->

      <div class="container-fluid bordered">
      <br>
      <div class="row">
         <div class="col-md-6">

          <p>Displaying  {{firstIndexOnPage}}-{{lastIndexOnPage}} 0f {{totalRows}} Records</p>

        </div>
          <!-- Page # --><label class="label-control">
                      <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
                    </label>
      </div>

          <div class="row">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th class="text-center number-row">#</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">MP SKU</th>
                  <th class="text-center ">Marketplace</th>
                  <th class="text-center">Ordered Qty</th>
                  <th class="text-center">Total Qty</th>
                  <th class="text-center">Created at</th>
                  <th class="text-center">Updated At</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mapping of inventory
                           | filterChannel: mpChoice: 'marketplace'
                           | filterSku: skuSearchValue: 'inventory'
                           | filterSku: skuSearchMp: 'marketplace'
                           | paginate: { itemsPerPage: rowsOnPage, currentPage: p}
                           ; let i = index">
                  <div hidden>{{getNumberOfRowsOnPage(i)}}</div>
                  <div hidden>{{getFirstIndexOnPage(i+1)}}</div>
                  <th scope="row" class="text-center">{{getIndexNumber(i)}}</th>
                  <td>{{mapping.sku}}</td>
                  <td class="text-center">{{mapping.mpsku}}</td>
                  <td class="text-center">{{mapping.marketplace}}</td>
                  <td class="text-center">{{mapping.quantity}}</td>
                  <td class="text-center">N/A</td>
                  <td class="text-center">{{mapping.createdAt | date}}</td>
                  <td class="text-center">{{mapping.updatedAt | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </ng-template>
  </ngb-tab>


  <ngb-tab id="sku-tab" title="Upload Single Inventory">
    <ng-template ngbTabContent>
        <app-inventory-stock></app-inventory-stock>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="catalogue-tab" title="Upload Multiple Inventory">
    <ng-template ngbTabContent>
      <app-inventory-multi></app-inventory-multi>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="upload-d-tab" title="Upload Dedicated Inventory">
    <ng-template ngbTabContent>
      <app-inventory-upload-dedicated></app-inventory-upload-dedicated>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="remove-d-tab" title="Remove Dedicated Inventory">
    <ng-template ngbTabContent>
      <app-inventory-remove-dedicated></app-inventory-remove-dedicated>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="history-tab" title="Upload History">
    <ng-template ngbTabContent>
      <app-inventory-update-history></app-inventory-update-history>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div class="label-control">Rows on page
            <select class="show-page" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select>
</div>
