<div class="col-lg-12">
  <h1>Order Details
    <button type="button" class="btn btn-default">Cancel Order</button>
     <button type="button" class="btn btn-default">Invoice</button>
      <button type="button" class="btn btn-default">Edit Order Details</button>
       <button type="button" class="btn btn-default" [routerLink]="['../../orders']">
         <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
       </h1>

<!--   ===== ORDER BLOCK =======   -->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Order #: {{orderId}}</h5>

      <div class="row">
        <div class="col-sm-5">
            <div class="card-block card-styling">
              <p class="card-text">Order Date:</p>
              <p class="card-text">Order ID:</p>
              <p class="card-text">Sales Channel:</p>
              <p class="card-text">Order Status:</p>
              <p class="card-text">Order Type:</p>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-block">
              <p class="card-text">12th May 2018</p>
              <p class="card-text">{{orderDetailsService.salesChannelOrderId}}</p>
              <p class="card-text">{{orderDetailsService.salesChannel}}</p>
              <p class="card-text">{{orderDetailsService.orderStatus}}</p>
              <p class="card-text">{{orderDetailsService.orderType}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>


<!--   ===== PAYMENT BLOCK =======   -->

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Payment Information:</h5>

      <div class="row">
        <div class="col-sm-5">
            <div class="card-block card-styling">
              <p class="card-text">Credit Card No:</p>
              <p class="card-text">Expiry Date:</p>
              <p class="card-text">CCV:</p>
              <p class="card-text">Paid by: </p>
              <p class="card-text">Currency:</p>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-block">
              <p class="card-text">**** **** **** 1234</p>
              <p class="card-text">10/20</p>
              <p class="card-text">***</p>
              <p class="card-text">COD</p>
              <p class="card-text">GBP</p>
            </div>
        </div>
      </div>
    </div>
  </div>

<!--   ===== ACCOUNT INFO BLOCK =======   -->

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Account Information:</h5>

      <div class="row">
        <div class="col-sm-5">
            <div class="card-block card-styling">
              <p class="card-text">Buyer's Name:</p>
              <p class="card-text">Buyer's Email:</p>
              <p class="card-text">Contact Number:</p>
              <p class="card-text">Customer Group:</p>
              <p class="card-text">&nbsp;</p>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-block">
              <p class="card-text">{{orderDetailsService.name}}</p>
              <p class="card-text" style="word-break:break-all;">{{orderDetailsService.buyerEmail}}</p>
              <p class="card-text">01234 567890</p>
              <p class="card-text">General</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!--   ===== BILLING ADDRESS =======   -->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Billing Address: </h5>

      <div class="row">
        <div class="col-sm-5">
            <div class="card-block card-styling">
              <p class="card-text">Address Line 1:</p>
              <p class="card-text">City:</p>
              <p class="card-text">State/Region:</p>
              <p class="card-text">Postcode:</p>
              <p class="card-text">Country Code:</p>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-block">
              <p class="card-text">123 Sesame Street</p>
              <p class="card-text">No Idea</p>
              <p class="card-text">Anywhere</p>
              <p class="card-text">AB12 3CD</p>
              <p class="card-text">UK</p>
            </div>
        </div>
      </div>
    </div>
  </div>


<!--   ===== SHIPPING ADDRESS =======   -->

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Shipping Address:</h5>

      <div class="row">
        <div class="col-sm-5">
            <div class="card-block card-styling">
              <p class="card-text">Address Line 1:</p>
              <p class="card-text">City:</p>
              <p class="card-text">State/Region:</p>
              <p class="card-text">Postcode:</p>
              <p class="card-text">Country Code:</p>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-block">
              <p class="card-text">{{orderDetailsService.addressLine1}}</p>
              <p class="card-text">{{orderDetailsService.city}}</p>
              <p class="card-text">{{orderDetailsService.stateOrRegion}}</p>
              <p class="card-text">{{orderDetailsService.postalCode}}</p>
              <p class="card-text">{{orderDetailsService.countryCode}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>

<!--   ===== SHIPPING & HANDLING BLOCK =======   -->

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Shipping and Handling</h5>

      <div class="row">
        <div class="col-sm-6">
            <div class="card-block card-styling">
              <p class="card-text">Flat Rate - Fixed:</p>
              <p class="card-text">Courier Details:</p>
              <p class="card-text">Courier Contact Number:</p>
              <p class="card-text">&nbsp;</p>
              <p class="card-text">&nbsp;</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card-block">
              <p class="card-text">£5.00</p>
              <p class="card-text">UPS</p>
              <p class="card-text">01234 567890</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!--   ===== TABLE =======   -->
<div *ngFor="let orderDetails of ordersDetailsArray">
<div class="row no-gutters">
  <div class="col-md-3">
    <div class="card card-table">
      <h5 class="card-header">Product</h5>
      <div class="card-block">
        <p class="card-text">Product: {{orderDetails.title}}</p>
        <p class="card-text">Product Type: {{orderDetails.sellerSku}}</p>
        <p class="card-text">SKU: {{orderDetails.orderItemId}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <div class="card text-center card-table">
      <h5 class="card-header">Qty</h5>
      <div class="card-block">
        <p class="card-text">&nbsp;</p>
        <p class="card-text">{{orderDetails.quantityOrdered}}</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-table">
      <h5 class="card-header">Item Status</h5>
      <div class="card-block">
        <p class="card-text">&nbsp;</p>
        <p class="card-text">Pending</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-table">
      <h5 class="card-header">Price</h5>
      <div class="card-block">
        <p class="card-text">&nbsp;</p>
        <p class="card-text">£399.99</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-table">
      <h5 class="card-header">Discount</h5>
      <div class="card-block">
        <p class="card-text">&nbsp;</p>
        <p class="card-text">£0.00</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card">
      <h5 class="card-header">Subtotal</h5>
      <div class="card-block">
        <p class="card-text">&nbsp;</p>
        <p class="card-text">£399.99</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>

</div> <!-- row -->
</div> <!-- ngfor -->
</div> <!--col-lg-12-->
