<!--  ****** First Row of Boxes ****** -->
<!--<div *ngFor="let orderDetails of ordersDetailsArray">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Order Details
        <button type="button" class="btn btn-default">Cancel Order</button>
         <button type="button" class="btn btn-default">Invoice</button>
          <button type="button" class="btn btn-default">Edit Order Details</button>
           <button type="button" class="btn btn-default" [routerLink]="['../../orders']"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button></h1>


        <div class="row">
          <div class="col-md-4 col-styling">
            <table class="table">
              <tr>
                <th>Order #: {{orderId}}</th>
              </tr>
              <div class="row">
                <div class="col-md-5">
                  <tr>
                    <td class="td-left">Order Date:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Order ID:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Sales Channel:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Order Status:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Order Type:</td>
                  </tr>
                </div>

                <div class="col-md-7">
                  <tr>
                    <td>12th May 2018</td>
                  </tr>
                  <tr>
                    <td>{{orderDetailsService.salesChannelOrderId}}</td>
                  </tr>
                  <tr>
                    <td>{{orderDetailsService.salesChannel}}</td>
                  </tr>
                  <tr>
                    <td>{{orderDetailsService.orderStatus}}</td>
                  </tr>
                  <tr>
                    <td>{{orderDetailsService.orderType}}</td>
                  </tr>
                </div>
              </div>
            </table>
          </div>

          <div class="col-md-4 col-styling">
            <table class="table">
              <tr>
                <th class="head-style">Payment Information: </th>
              </tr>
              <div class="row">
                <div class="col-md-6">
                  <tr>
                    <td class="td-left">Credit Card No:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Expiry Date:</td>
                  </tr>
                  <tr>
                    <td class="td-left">CCV:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Paid by Paypal</td>
                  </tr>
                  <tr>
                    <td class="td-left">Order placed using USD</td>
                  </tr>
                </div>

                <div class="col-md-6">
                  <tr>
                    <td>**** **** **** 1234</td>
                  </tr>
                  <tr>
                    <td>10/20</td>
                  </tr>
                  <tr>
                    <td>***</td>
                  </tr>
                </div>
              </div>
            </table>
          </div>

          <div class="col-md-4 col-styling end-table">
            <table class="table">
              <tr>
                <th class="head-style">Account Information: </th>
              </tr>
              <div class="row">
                <div class="col-md-5">
                  <tr>
                    <td class="td-left">Buyer's Name:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Buyer's Email:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Contact Number:</td>
                  </tr>
                  <tr>
                    <td class="td-left">Customer Group:</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </div>

                <div class="col-md-7">
                  <tr>
                    <td>{{orderDetailsService.name}}</td>
                  </tr>
                  <tr>
                    <td style="word-break:break-all;">{{orderDetailsService.buyerEmail}}</td>
                  </tr>
                  <tr>
                    <td>01234 567890</td>
                  </tr>
                  <tr>
                    <td>General</td>
                  </tr>
                </div>
              </div>
            </table>
          </div>
        </div>

<br>
<!--  ****** Second Row of Boxes ****** -->

<div class="row">
  <div class="col-md-4 col-styling">
    <table class="table">
      <tr>
        <th class="head-style">Billing Address: </th>
      </tr>
      <div class="row">
        <div class="col-md-5">
          <tr>
            <td class="td-left">Address Line 1</td>
          </tr>

          <tr>
            <td class="td-left">City</td>
          </tr>

          <tr>
            <td class="td-left">State/Region</td>
          </tr>
          <tr>
            <td class="td-left">Postcode</td>
          </tr>
          <tr>
            <td class="td-left">Country Code</td>
          </tr>
        </div>

        <div class="col-md-7">
          <tr>
            <td>123 Sesame Street</td>
          </tr>
          <tr>
            <td>No Idea</td>
          </tr>
          <tr>
            <td>Anywhere</td>
          </tr>
          <tr>
            <td>AB12 3CD</td>
          </tr>
          <tr>
            <td>IN</td>
          </tr>
        </div>
      </div>
    </table>
  </div>

  <div class="col-md-4 col-styling">
    <table class="table">
      <tr>
        <th class="head-style">Shipping Address: </th>
      </tr>
      <div class="row">
        <div class="col-md-5">
          <tr>
            <td class="td-left">Address Line 1</td>
          </tr>
          <tr>
            <td class="td-left">City</td>
          </tr>

          <tr>
            <td class="td-left">State/Region</td>
          </tr>
          <tr>
            <td class="td-left">Postcode</td>
          </tr>
          <tr>
            <td class="td-left">Country Code</td>
          </tr>
        </div>

        <div class="col-md-7">
          <tr>
            <td>{{orderDetailsService.addressLine1}}</td>
          </tr>
          <tr>
            <td>{{orderDetailsService.city}}</td>
          </tr>
          <tr>
            <td>{{orderDetailsService.stateOrRegion}}</td>
          </tr>
          <tr>
            <td>{{orderDetailsService.postalCode}}</td>
          </tr>
          <tr>
            <td>{{orderDetailsService.countryCode}}</td>
          </tr>
        </div>
      </div>
    </table>
  </div>

  <div class="col-md-4 col-styling end-table">
    <table class="table">
      <tr>
        <th class="head-style">Shipping and Handling </th>
      </tr>
      <div class="row">
        <div class="col-md-5">
          <tr>
            <td class="td-left">Flat Rate - Fixed:</td>
          </tr>
          <tr>
            <td class="td-left">Courier Details:</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
            <td>&nbsp;</td>
        </div>

          <div class="col-md-7">
            <tr>
              <td>£5.00</td>
            </tr>
          </div>
        </div>
    </table>
  </div>
</div>
<br>
<!--  ******  Product Data Table ****** -->
<div class="row table-box-styles">
    <table class="table">
      <tr>
        <div class="col-md-3 data-table-styling"><th>Product</th></div>
        <div class="col-md-1 data-table-styling"><th class="align-word">Qty</th></div>
        <div class="col-md-2 data-table-styling"><th>Item Status</th></div>
        <div class="col-md-2 data-table-styling"><th>Price</th></div>
        <div class="col-md-2 data-table-styling"><th>Discount</th></div>
        <div class="col-md-2 data-table-styling-extra"><th>Subtotal</th></div>
      </tr>
<div *ngFor="let orderDetails of ordersDetailsArray">
        <div class="col-md-3 data-table-col-styling">
          <tr>
            <td><span class="word-styling">Product: </span> {{orderDetails.title}}</td>
          </tr>
          <tr>
            <td><span class="word-styling">Product Type: </span> {{orderDetails.sellerSku}}</td>
          </tr>
          <tr>
            <td><span class="word-styling">SKU: </span> {{orderDetails.orderItemId}}</td>
          </tr>
        </div>

        <div class="col-md-1 data-table-col-styling">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="align-word">{{orderDetails.quantityOrdered}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </div>

        <div class="col-md-2 data-table-col-styling">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Pending</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </div>

        <div class="col-md-2 data-table-col-styling">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>£399.99</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </div>

      <div class="col-md-2 data-table-col-styling">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
          <td>£0.00</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </div>

      <div class="col-md-2 data-table-col-styling-extra">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>£399.99</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </div>

</div>
    </table>

  </div>

    </div>
  </div>
</div>


<!--</div>-->
