@import "../../../../_variables";

$default-color: #015084;
/********* Buttons Styling *******/
.btn-default {
  float: right;
  margin-left: 15px;
  background: #f7f8f9;
  border-color:#ddd;
}

.btn-default {
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    color: #0061ff;
    font-weight: 500;
    background: #ededed;
}

.btn-default:active {
  margin-top: 3px;
    margin-bottom: -3px;
    background: #015084;
    border-color: $default-color;
}

/********* Cards Styling *******/
.card-block {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.card-block.card-styling {
  font-weight: 600;
}

/********* Table Styling *******/
.card {
  border-radius: 0px;
}

.card.card-table {
  border-right: none;
}
