@import '../../orders/orders-table/orders.component';
@import '../../inventory/inventory.component';

.btn.btn-primary {
  background-color: #3a5175;
  border-color: #26416d;

    -webkit-box-shadow: 2px 2px 0px rgba(36, 65, 109, 0.6);
      -moz-box-shadow:    2px 2px 0px rgba(36, 65, 109, 0.6);
      box-shadow:         2px 2px 0px rgba(36, 65, 109, 0.6);
}

.btn.btn-primary:hover {
  cursor: pointer;
  background-color: #0d2956;
}

.btn.btn-warning {
  background-color:#ffce66;
  border-color: #f9aa00;

    -webkit-box-shadow: 2px 2px 0px rgba(249, 170, 0, 0.6);
      -moz-box-shadow:    2px 2px 0px rgba(249, 170, 0, 0.6);
      box-shadow:         2px 2px 0px rgba(249, 170, 0, 0.6);
}

.btn.btn-warning:hover {
  cursor: pointer;
  background-color: #ffbb28;
}

#category-btn {
  width: 12rem;
}
.input-group {
  width: 20rem;
}

.mp-logo {
  width: 40px;
  margin-right: 10px;
}

.thead-inverse th{
  background-color: #231f20!important;
}
