<div class="container">
  <ngb-tabset>
    <ngb-tab title="All">
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Pending">
        <ng-template ngbTabContent>
          <p>Content for tab 2</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Unverified">
        <ng-template ngbTabContent>
          <p>Content for tab 3</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Cancelled">
        <ng-template ngbTabContent>
          <p>Content for tab 4</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Failed">
        <ng-template ngbTabContent>
          <p>Content for tab 5</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>
