<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab id="all-tab">
      <ng-template ngbTabTitle>
        <div (click)="navbarChoiceClick('ALL')">All</div>
      </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="new-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('PendingInvoice')">Pending</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="confirmed-tab" title="Confirmed">
        <ng-template ngbTabContent>
          <p>Content for tab 3</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="rts-tab" title="Ready To Ship">
        <ng-template ngbTabContent>
          <p>Content for tab 4</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="shipped-tab" title="Shipped">
        <ng-template ngbTabContent>
          <p>Content for tab 5</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="cancelled-tab" title="Cancelled">
        <ng-template ngbTabContent>
          <p>Content for tab 6</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="failed-tab" title="Failed">
        <ng-template ngbTabContent>
          <p>Content for tab 7</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>
