<!--<button onclick="document.getElementById('new-tab').click()">CLICK ME</button> -->


<div class="container-fluid">
  <ngb-tabset #tabSet="ngbTabset">
    <ngb-tab id="all-tab" >
      <ng-template ngbTabTitle>
        <div (click)="navbarChoiceClick('ALL', 'All Orders')">All</div>
      </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="new-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('Created', 'New Orders')">New</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="confirmed-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('Confirmed', 'Confirmed Orders')">Confirmed</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="rts-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('ReadyToShip', 'Ready To Ship')">Ready To Ship</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="shipped-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('Shipped', 'Shipped Orders')">Shipped</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="pending-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('PendingInvoice', 'Pending Invoice')">Pending Invoice</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="cancelled-tab">
        <ng-template ngbTabTitle>
          <div (click)="navbarChoiceClick('Cancelled', 'Cancelled Orders')">Cancelled</div>
        </ng-template>
        <ng-template ngbTabContent>
          <app-orders-table></app-orders-table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>
