.with-padding {
	padding-right: 30px;
}

.form-group.row {
	padding-left: 20px;
	padding-right: 20px;
}

#img-thumbnail {
	margin: 0;
	padding: 0;
	height: 74px;
}

.col-md-1.alter-padding {
	padding-left: 10px;
}

#imagePreview{
	width: 100px;
	height: 120px;
	margin-bottom: 16px;
	background-position: center center;
	background-size: cover;
	border: 1px solid #ddd;
	display: inline-block;
	font-size: 26px;
	color: #ddd;
	text-align: center;
}

.form-group.row-diff-1, .form-group.row-diff-2 {
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 16px;
	margin-top: 46px;
}


.col-form-label.extra {
	margin-right: 590px;
}
#length-input, #width-input, #height-input {
	width: 32%;

}
#length-input, #width-input {
	margin-right: 2%;
}

.italic {
	font-style: italic;
}

.col-form-label {
	width: 100%;
}
