$default-color: #015084;
$main-grey:  #f7f8f9;

.jumbotron {
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: $main-grey;
  margin-bottom: 15px;
}

#jumbo-h1 {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}

.row {
  padding: 0;
  margin: 0
}

.text-center {
   text-align:center
}

.btn.btn-outline-default.channel-button {
  background-color: white;
  border-color: #ddd;
  text-align: left;
  padding-right: 40px;
  font-size: 0.9rem;
  color: grey;


}
#SKU-button {

  margin: 0 20px 0 20px;
}

.date-picker-btn {
  margin-top: 4px;
  height: 38px;
}


.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}


/******************************************/

.datatableBody:hover{
  background-color: #ececec;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  span {
    visibility: hidden;
  }
  &.active {
    color: #000;
    span {
      visibility: visible;
    }
  }
}


.filters input, select{
  height: 25px;
  font-size: 13px;
  margin-top: 2px;
}

.dateInput{
  text-align:right;
  font-size: 13px;
}
.dateInput input{
  font-size: 13px;
  width:140px;
}

.filters th{
  vertical-align: top;
}

.searchValue{
  width:80px;
}


.checkBox {
transform: scale(1.5);
align-items: center;
}

#search_quantity{
  width: auto;
}


#orderByMenu{
  cursor: pointer;
}

#refreshButton{
  margin-bottom: 20px;
}

#searchLabel{
  float:right;
}
#searchBox{
  margin-left: 10px;

}

.hide_columns{
  display:none;
}


.icons{
  background:none;
  height:28px;
  width:100px;
  vertical-align:middle;
}

input::-webkit-input-placeholder {
  color: lightgrey;
}

.table-striped>tbody>tr:nth-child(odd) {
  background: white;
}

.table-striped>tbody>tr:nth-child(even) {
  background: $main-grey;
}
/* FOOTER */
.label-control{
width: auto;
float: right;
margin-right: 5%;
}
.show-page{
  width:50px;
}

/* DROPDOWN */
.search-orders-form a:hover{
  cursor:pointer;
}

/********* Buttons Styling *******/
.btn-default {
  float: right;
  color: black;
  margin-left: 15px;
  background: $main-grey;
  border-color:#ddd;
}

.btn-default {
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    color: #0061ff;
    font-weight: 500;
    background: #ededed;
}

.btn-default:active {
  margin-top: 3px;
    margin-bottom: -3px;
    background: #015084;
    border-color: $default-color;
}
