<div class="jumbotron">
  <h1 id="jumbo-h1"> {{ordersService.title}} </h1>

<!-- FILTERS -->
<div class="row ">
  <div class="col-md-4 text-right">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-outline-default channel-button" ngbDropdownToggle>{{dropSelected}}</button>
        <div class="dropdown-menu dropdown-menu-center" ngbDropdownMenu>
        <button class="dropdown-item" (click)="dropSelected = 'All'">All</button>
        <button *ngFor="let channel of dropChannelsList" class="dropdown-item" (click)="dropSelected = channel">{{channel}}</button>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="SKU/Order No"  [(ngModel)]="filterSKUvalue">
        <span class="input-group-btn">
          <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>

    <div class="col-md-5">
      <div class="btn-group date-picker-btn">
            <my-date-range-picker placeholder="Date" [options]="myDateRangePickerOptions"
                                (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
      </div>
    </div>

</div>   <!-- button-row -->
</div>   <!-- jumbotron  -->


<br>

<div *ngIf="((p*rowsOnPage)-ordersNumberDisplayed)>=0">
<p> Displaying {{(p*rowsOnPage)-(rowsOnPage-1)}} - {{ordersNumberDisplayed}} of {{ordersNumberDisplayed}} records <p>
</div>
<div *ngIf="((p*rowsOnPage)-ordersNumberDisplayed)<0">
<p> Displaying {{(p*rowsOnPage)-(rowsOnPage-1)}} - {{p*rowsOnPage}} of {{ordersNumberDisplayed}} records <p>
</div>



<!-- Datatable -->
<div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
<table class="table table-striped" id="table_orders">
  <thead class="thead-inverse">
    <tr id="orderByMenu">
      <th>{{checkBoxId}}</th>
      <th [class.active]="order === 'salesChannel'"
          (click)="setOrder('salesChannel')"
                      >Channel
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th class="hide_columns">From</th>
      <th [class.active]="order === 'salesChannelOrderId'"
          (click)="setOrder('salesChannelOrderId')"
                      >Order Id
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th [class.active]="order === 'orderStatus'"
          (click)="setOrder('orderStatus')"
                      >Status
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th [class.active]="order === 'orderType'"
          (click)="setOrder('orderType')"
                      >Order Type
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th [class.active]="order === 'buyerName'"
          (click)="setOrder('buyerName')"
                      >Buyer Name
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th [class.active]="order === 'buyerEmail'"
          (click)="setOrder('buyerEmail')"
                      >Buyer Email
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>

      </th>
      <th [class.active]="order === 'date'"
          (click)="setOrder('date')" style="text-align:center;"
                      >Date
                      <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>

<!-- Datatable - load from datatabse --------------------------------->
<tr class="datatableBody" *ngFor="let order of orders
                         | filterSKU: filterSKUvalue
                         | filterChannel: dropSelected
                         | filterDateMin: beginDate
                         | filterDateMax: endDate
                         | orderBy: order: reverse
                         | paginate: { itemsPerPage: rowsOnPage, currentPage: p}
                         ;let i = index
                         "
             [ngSwitch]="order.salesChannel">

<!-- Counts how many rows showed after filter -->
             {{DisplayOnPageCounter(i)}}

      <td style="text-align:center;">
        <input class="checkBox" type="checkbox" [value]="myVariable">
      </td>
      <td>
      <div *ngSwitchCase="'eBay'">
          <img class="icons" src="../../assets/ebay_logo.png" alt="dashboard">
      </div>
      <div *ngSwitchCase="'Amazon.in'">
        <img class="icons" src="../../assets/amazon.in_logo.png" alt="dashboard">
      </div>
      <div *ngSwitchCase="'Amazon.co.uk'">
        <img class="icons" src="../../assets/amazon.co.uk_logo.png" alt="dashboard">
      </div>
    </td>
      <td class="hide_columns">{{order.salesChannel}}</td>
      <td>{{order.salesChannelOrderId}}</td>
      <td>{{order.orderStatus}}</td>
      <td>{{order.orderType}}</td>
      <td>{{order.buyerName}}</td>
      <td>{{order.buyerEmail}}</td>

      <td style="text-align: center;">{{order.date | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a [routerLink]="['orderDetails']" class="btn btn-default" (click)="passValuesToService(order.id, order.salesChannelOrderId, order.salesChannel, order.orderStatus, order.orderType, order.buyerEmail,
                                                                                                order.shippingAddress.name, order.shippingAddress.addressLine1, order.shippingAddress.city, order.shippingAddress.stateOrRegion, order.shippingAddress.postalCode, order.shippingAddress.countryCode )">Details</a>
      </td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>

<!-- Footer -------------------------------------------------------->
<!-- Select how many rows in one page to choose--------------------->
<label class="label-control">Rows on page
            <select class="show-page" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select>
<!-- Page # -->
            <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</label>
<script>
$('th').click(function() {
    $('th').removeClass('active-span');
    $(this).addClass('active-span');
});
</script>
