<div class="container-fluid inventory-only">
<br>
<h1  class="underline">Stock Allocation Management</h1>

  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Product ID/SKU" [(ngModel)]="searchValue" (keyup.enter)="setSearchSkuValue(searchValue)">
        <span class="input-group-btn">
          <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true" (click)="setSearchSkuValue(searchValue)"></i></button>
        </span>
      </div>
    </div>

  </div>
  <br>
</div>



<div class="container-fluid bordered">
  <br>
<div id="scroller">
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center number-row">#</th>
      <th class="row-span-lg">SKU</th>
      <th class="text-center row-span-md">Total Qty</th>
      <th class="text-center row-span-md">Allocated</th>
      <th class="text-center row-span-md">Un-Allocated</th>
      <th class="text-center row-span-lg" *ngFor="let marketplace of marketplacesList">{{marketplace.name}}</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let inv of inventory
                | filterSku: searchSkuValue: 'inventory'
                ; let i = index;">

      <th scope="row" class="text-center">{{i+1}}</th>
      <td>{{inv.sku}}</td>
      <td class="text-center">{{inv.quantity}}</td>
      <td class="text-center">{{arrayOfAllocated[i]}}</td>
      <td class="text-center">{{arrayOfUnAllocated[i]}}</td>

      <td class="text-center" *ngFor="let marketplace of marketplacesList">
        <div *ngIf="checkTrueFalse(inv.sku,marketplace.name) === true">{{findQuantity(inv.sku, marketplace.name, i)}}</div>
      </td>


    </tr>


  </tbody>
</table>
</div>
</div>
