<br>
<h1 class="text-center">Stock Allocation Management</h1>

<br>
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Product ID/SKU" [(ngModel)]="searchValue">
        <span class="input-group-btn">
          <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true" (click)="setSearchSkuValue(searchValue)"></i></button>
        </span>
      </div>
    </div>
  </div>

<br>

<div id="scroller">
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center number-row">#</th>
      <th class="row-span-lg">SKU</th>
      <th class="text-center row-span-md">Total Qty</th>
      <th class="text-center row-span-md">Allocated</th>
      <th class="text-center row-span-md">Un-Allocated</th>
      <th class="text-center row-span-lg" *ngFor="let marketplace of marketplacesList">{{marketplace.marketplaceName}}</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let inv of inventory
                | filterStockSku: searchSkuValue
                ; let i = index;">

      <th scope="row" class="text-center">{{i+1}}</th>
      <td>{{inv.sku}}</td>
      <td class="text-center">{{inv.stockQuantity}}</td>
      <td class="text-center">N/A</td>
      <td class="text-center">N/A</td>

      <td class="text-center" *ngFor="let marketplace of marketplacesList">N/A</td>
    </tr>


  </tbody>
</table>
</div>
