@import '../../orders/orders-table/orders.component';
@import '../../inventory/inventory.component';
@import '../inventory-stock/inventory-stock.component';

.container-fluid.bordered {
  border: 2px solid #ddd;
  height: 300px;
}


.checkbox-style {
  position: relative;
  background-color: white;
  height: 25px;
  width: 25px;
  margin: 0 10px 10px 10px;
  transform: translateY(25%);

}

.form-border {
  float: left;
  width: 15rem;
  height: 3.5rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.mini-logo {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 25px;
}

.mini-logo-2 {
  width: 50px;
  height: 40px;
  margin: 5px 5px 5px 25px;
}

.highlight-red {
  color: red;
}
