
.btn.btn-success {
  border-color: #27a36d;

  -webkit-box-shadow: 2px 2px 0px rgba(39, 127, 89, 0.7);
    -moz-box-shadow:    2px 2px 0px rgba(39, 127, 89, 0.7);
    box-shadow:         2px 2px 0px rgba(39, 127, 89, 0.7);

}

.checkbox-style-1 {
  position: relative;
  background-color: white;
  height: 20px;
  width: 20px;
  transform: translateY(25%);
}
