<ngb-tabset>
  <ngb-tab id="product-tab" title="SKU Mapping">
    <ng-template ngbTabContent>
      <div class="container-fluid inventory-only">
        <br>
        <h1 class="underline">Marketplace SKU Mapping</h1>

          <div class="row">
            <div class="col-md-4 text-right">
              <div class="btn-group" ngbDropdown>
                <button class="btn btn-outline-default" id="category-btn" ngbDropdownToggle>All Marketplace </button>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
                  <div class="dropdown">
                    <button class="dropdown-item">Amazon</button>
                    <button class="dropdown-item">Flipkart</button>
                    <button class="dropdown-item">Limeroad</button>
                    <button class="dropdown-item">Myntra</button>
                    <button class="dropdown-item">PayTM</button>
                    <button class="dropdown-item">Puma</button>
                    <button class="dropdown-item">Shopclues</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by SKU">
              <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Marketplace SKU">
              <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>

      </div>
      <br>


      </div>   <!-- CONTAINER-FLUID INVENTORY-ONLY -->

      <div class="container-fluid bordered">
      <br>
      <div class="row">
          <div class="col-md-6">
          <p>Displaying 1 0f 20 Records</p>
        </div>
          <div class="col-md-6">
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>

          <div class="row">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th class="text-center number-row">#</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">MP SKU</th>
                  <th class="text-center ">Marketplace</th>
                  <th class="text-center">Ordered Qty</th>
                  <th class="text-center">Total Qty</th>
                  <th class="text-center">Created at</th>
                  <th class="text-center">Updated At</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-center">1</th>
                  <td>DEMO4001</td>
                  <td class="text-center">MP4001</td>
                  <td class="text-center">Amazon</td>
                  <td class="text-center">0</td>
                  <td class="text-center">0</td>
                  <td class="text-center">05/10/2017  14:20</td>
                  <td class="text-center">05/10/2017  15:30</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </ng-template>
  </ngb-tab>


  <ngb-tab id="sku-tab" title="Upload Single Inventory">
    <ng-template ngbTabContent>
        <app-inventory-stock></app-inventory-stock>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="catalogue-tab" title="Upload Multiple Inventory">
    <ng-template ngbTabContent>
      <app-inventory-multi></app-inventory-multi>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="upload-d-tab" title="Upload Dedicated Inventory">
    <ng-template ngbTabContent>
      <app-inventory-upload-dedicated></app-inventory-upload-dedicated>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="remove-d-tab" title="Remove Dedicated Inventory">
    <ng-template ngbTabContent>
      <app-inventory-remove-dedicated></app-inventory-remove-dedicated>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="history-tab" title="Upload History">
    <ng-template ngbTabContent>
      <app-inventory-update-history></app-inventory-update-history>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
